.h1-priv {
  font-size: 24px;
  font-weight: bold;
}

.h2-priv {
  font-size: 20px;
  font-weight: bold;
}

.priv-container {
  margin: 12px;
  padding-left: 100px;
  padding-right: 100px;
}

a {
  color: #f5ebea;
  text-decoration: none;
}

.sub-link {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .priv-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
